@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

main {
  padding-top: 60px;
  min-height: 100vh;
  color: white;
  background-color: #1b1b32;
}

.nav {
  background-color: #4949a7;
}